.card {
    background-color: #242424;
    /* box-shadow: #545454 ; */
    box-shadow: 0 4px 6px -1px #545454, 0 2px 4px -1px #545454; /* Example shadow */
    width: 300px;
    height: 310px;
}
.baseFont{
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
    height: 48px;
}

.cardImg{
    height: 167.5px;
}