/* SurveyGame.module.css */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 배경 이미지가 컨테이너 밖으로 넘치지 않도록 함 */
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.3); /* 불투명도를 30%로 조정 */
    mix-blend-mode: multiply;
}

.contentWrapper {
  position: relative; /* 내부 컨텐츠를 위로 띄우기 위해 필요함 */
  text-align: center; /* 텍스트를 중앙으로 정렬 */
  height: 700px;
  z-index: 1;
}

